.btnChange {
  width: 20%;
  min-width: 150px;
  height: 270px;
  border: 0px solid;
  border-radius: 16px;
  margin: 1%;
}

.tecno,
.deportes,
.farandula,
.gaming {
  background-position: center;
  width: 100%;
  height: 100%;
  border: 0px solid;
  border-radius: 16px;
  background-size: 100% 110%;
  background-repeat: no-repeat;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
  transition: width 0.2s, height 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  position: relative;
}

h3 {
  color: rgb(0, 0, 0);
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  top: 100%; 
}

.deportes {
  background-image: url("../img/deportes.jpg");
}

.farandula {
  background-image: url("../img/faran.jpg");
}

.tecno {
  background-image: url("../img/cateTec.jpg");
}

.gaming {
  background-image: url("../img/gaming.jpg");
}

.tecno:hover,
.deportes:hover,
.farandula:hover,
.gaming:hover {
  background-position: center;
  width: 103%;
  height: 103%;
  border: 0px solid;
  border-radius: 16px;
  background-size: 100% 110%;
  background-repeat: no-repeat;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  /* filter: brightness(0.3); */

  h3 {
    opacity: 1;
  }
}
